<div>
    <h1>Expires On</h1>
    <cache expires-on="@new DateTime(2021,12,17,19,22,0)">
        @DateTime.Now
    </cache>
</div>
<div>
    <h1>Expires after</h1>
    <cache expires-after="@TimeSpan.FromSeconds(60)">
        @DateTime.Now
    </cache>
</div>

<div>
    <h1>Vary by query</h1>
    <cache vary-by-query="id">
        @DateTime.Now
    </cache>
</div>
@Html.ActionLink("Go to second","Second","Sample")

