@model AppFromStart.Models.Student
@inject AppFromStart.Services.IListify statusList
@{
    ViewData["Title"] = "New Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <style>
        .myStyle {
            background-color: yellow;
        }
    </style>
</head>
<body>

    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Create", "Student", FormMethod.Post))
            {
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Id, htmlAttributes: new { @class = "myStyle" })
                    @Html.EditorFor(m => m.Id)
                    @Html.ValidationMessageFor(m=>m.Id)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @*@Html.EditorFor(m => m.Name,new { @id = "sname" })*@
                    <input asp-for="Name" id="sname"  />
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Status)
                    @*@Html.EditorFor(m => m.Status)*@
                    @Html.DropDownList("Status", statusList.GetList())
                </div>
                <div>
                    <input type="submit" id="btnCreate" value="Create" />ht
                </div>
                <script>
                    //function checkName() {
                    //    var stuName = document.getElementById("sname")
                    //    if (stuName.value == "") {
                    //        /*stuName.style.backgroundColor = "red";*/
                    //        stuName.classList.add("myStyle");
                    //    }
                    //}
                    $(document).ready(function () {
                        $("#sname").blur(function () {
                            if ($(this).val() == "") {
                                $("#btnCreate").addClass("btn");
                                $("#btnCreate").addClass("btn-danger");
                                }
                            });
                    })
                </script>
            }

        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
